{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Soda Fountain</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Soda Fountain</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>